[data-komado-state="minimized"] #player, // デフォルト表示
[data-komado-state="minimized"] #player-full-bleed-container, // シアターモード
[data-komado-state="minimized"] #movie_player {
  z-index: 10000 !important;
}
[data-komado-state="minimized"] #movie_player {
  position: fixed !important;
  background-color: black;
  right: 20px !important;
  bottom: 20px !important;
  height: var(--komado-player-height) !important;
  width: var(--komado-player-width) !important;
  border-radius: 12px;
}

[data-komado-state="minimized"] video {
  top: 0 !important;
  left: 0 !important;
  height: var(--komado-player-height) !important;
  width: var(--komado-player-width) !important;
}
[data-komado-state="minimized"] .ytp-right-controls, // プレーヤー右下のコントロール
[data-komado-state="minimized"] .ytp-ce-element, // 終了時の関連動画
[data-komado-state="minimized"] .ytp-autonav-endscreen-countdown-container, // 次の動画(自動再生がオンのとき)
[data-komado-state="minimized"] #cinematics-container {
  display: none !important;
}
[data-komado-state="minimized"] .komado-close {
  display: block;
  position: relative;
  z-index: 10;
  margin-left: auto;
}
